@import "tailwindcss";

@plugin "daisyui" {
  themes: mbp --default;
}
@theme {
    /* Colors  */
    --color-primary: #DC2626;
    --color-dark: #020202;
    --color-surface: #F8FAFC;
    --color-muted: #64748B;

    /* Typography  */
    --font-sans: Inter, Arial, sans-serif;

}
/* Utility classes */
.link {
  @apply text-dark hover:text-primary active:text-primary;
}







html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    min-width: 320px;
    background: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}